* {
  margin: 0;
  padding: 0;
}

.pink {
  background-color: #f2c8c9;
  height: 30vh;
}

.blue {
  background-color: #1957ec;
  height: 70vh;
}

.wrapper {
  padding-top: 100px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 250px;
  height: 250px;
  padding: 20px;
}

.fa-solid {
  color: #1957ec;
}
